
    <!-- 
     id: number;
    title: string;
    description: string;
    skills: string[];
    mission_type: string;
    start_date: string;
    salary: number;
    salary_unit: string; 
    password: string; 
    -->

<!-- 
    //Sur la page Ads_detail prévoir :

// date de publication
// coordonnées de l’entreprise
// mailto:
// callto: 
-->
<%- include("../partials/head", { title: "Accueil TalentHub" }) %>
<%- include("../partials/header") %>

<main>


</main>

<%- include("../partials/footer") %>

    